.gear-outer {
  transition: 0.3s;
}

.work-stages__item:hover .gear-outer {
  stroke: rgba(221, 222, 223, 1);
}

.gear-inner {
  transition: 0.3s;
}

.work-stages__item:hover .gear-inner {
  fill: url(#gear-gradient);
}
