@import "../../theme/styles/variables";
.carousel {
  &__section {
    padding-right: 67px;
    padding-bottom: 116px;
    padding-left: 67px;
    background: $palette-primary;
  }
  &__wrapper {
    max-width: 1088px;
    margin: 52px auto 0 auto;
  }
}

.arrow__prev,
.arrow__next {
  position: absolute;
  top: 50%;
  background: transparent;
  border-top: 2px solid $palette-secondary;
  border-right: 2px solid $palette-secondary;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
}
.arrow__prev {
  left: -30px;
  transform: rotate(-135deg) translate(-50%, 50%);
}
.arrow__next {
  right: -30px;
  transform: rotate(45deg) translate(-50%, 50%);
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}
.slick-slider {
  margin: 0 auto;
}

.slick-dots {
  bottom: auto;

  & li {
    width: fit-content;
    height: fit-content;
    margin: 13px 18px 0 18px;
  }

  & li button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  & li button:before {
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    background-color: $palette-secondary;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    content: " ";
  }

  & li.slick-active button:before {
    opacity: 1;
  }

  & li.slick-active button {
    border: 1px solid $palette-secondary;
  }
}
@media screen and (min-width: 1021px) {
  .slick-slider {
    max-width: calc(100% - 58.7px);
  }
  .arrow__prev,
  .arrow__next {
    width: 18.75px;
    height: 18.75px;
  }
}

@media screen and (max-width: 1020px) and (min-width: 1010px) {
  .slick-slider {
    max-width: calc(100% - 58.7px);
  }
  .arrow__prev,
  .arrow__next {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 1009px) and (min-width: 961px) {
  .slick-slider {
    max-width: 100%;
  }
  .arrow__prev,
  .arrow__next {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 960px) and (min-width: $sm-size) {
  .carousel__section {
    padding-right: 37px;
    padding-left: 37px;
  }
  .slick-slider {
    max-width: 100%;
  }
}
@media screen and (max-width: 640px) and (min-width: 362px) {
  .carousel__section {
    padding-right: 27px;
    padding-left: 27px;
  }
  .slick-slider {
    max-width: 100%;
  }
  .arrow__prev,
  .arrow__next {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 361px) {
  .carousel__section {
    padding-right: 17px;
    padding-left: 17px;
  }
  .slick-slider {
    min-width: 275px;
  }
}
