@import "../../theme/styles/variables";
@import "../../theme/styles/mixins";

.service-packages {
  padding-bottom: 90px;
  background-color: $palette-primary;

  & h2 {
    padding-bottom: 80px;
  }

  & button {
    display: block;
    margin: 0 auto;
  }

  &__wrapper {
    max-width: 1088px;
    margin: 52px auto 0 auto;
     }

  &__description {
    padding: 50px 20px;
    color: #c6d1de;
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    text-align: center;
  }
}

@media screen and (min-width: $sm-size) and (max-width: 960px) {
  .servicePackages__description {
    padding: 35px 20px;
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (max-width: 640px) {
  .service-packages h2 {
    padding-bottom: 25px;
  }
  .servicePackages__description {
    padding: 28px 20px;
    font-size: 10px;
    line-height: 14px;
  }
}


