@import "src/theme/styles/variables";

.user-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: calc((100% / 3) - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: $content-font;
  background: $palette-secondary;

  &__data {
    margin-bottom: 10px;
    color: $palette-primary;
    font-size: 18px;
  }

  &__switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
  }

  &__switch-name {
    margin-right: 20px;
    color: $palette-primary;
    font-size: 17px;
  }
}