@import "src/theme/styles/_variables";

.admin {
    &-navbar {
        box-sizing: border-box;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        &__main-header {
            margin: 10px 0;
        }
        &__menu {
            display: grid;
            grid-column-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            box-sizing: border-box;
            padding: 20px;
        }
        &__add-btn {
            position: fixed;
            right: 20px;
            bottom: 20px;
            width: 60px;
            height: 60px;
            color: white;
            font-size: 40px;
            background: darkseagreen;
            border: none;
            border-radius: 30px;
            transition: .3s;
            &:hover {
                background: greenyellow;
            }
        }
    }
}
